<table class="table">
  <thead class="table-g">
    <tr><th class="text-white">Genres</th></tr>
  </thead>
  <% genres.each do |genre| %>
    <tbody>
      <tr>
        <td>
          <strong><%= genre.name %></strong>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
