<table class="table">
  <tbody>
    <%= form_with url: genre_search_path, method: :get do |f| %>
      <% genres.each do |genre| %>
        <tr>
          <td class="text-center">
            <strong><%= link_to genre.name, genre_search_path(genre_id: genre.id), method: :get, class: "genre-text" %>　(<%= genre.posts.count %>)</strong>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
