<div class="container-fluid">
  <div class="row">
    
    <div class="col-md-2 mt-5 ml-4">
      <div class="d-flex justify-content-center mb-4">
        <h4 class="text-user">More Genres</h4>
      </div>
      <%= render 'public/posts/genres', genres: @genres %>
    </div>

    <div class="col-md-8 offset-md-1 mt-5 align-items-center">
      <h3 class="text-user text-center">Search results by Genre</h3>
      <div class="table-responsive">
        <table class="table mt-5">
          <%= render 'public/posts/list', posts: @posts %>
        </table>
      </div>
      <%= paginate @posts, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>