<div class="container">

  <div class="mb-5">
    <h2 class="text-center text-user">Search results</h2>
  </div>
  
  <ul class="tab-list list-unstyled">
    <li class="tab tab-active">
      posts
    </li>
    <li class="tab">
      users
    </li>
  </ul>

  <div class="tabbox-contents">
    <div class="tabbox box-show" data-tag="posts">
      <table class="table">
        <%= render 'public/posts/list', posts: @posts %>
      </table>
    </div>
    <div class="tabbox" data-tag="users">
      <table class="table">
        <%= render 'users', users: @users %>
      </table>
     </div>
  </div>
</div>
    
