<div class="container-fluid my-5">
  <div class="row">
    <div class="col d-flex flex-column align-items-center justify-content-center">
      <h2>Discover, Learn, and Connect in Japan</h2><br>
      <h5>日本での学びとつながりをもっと身近に</h5>
    </div>
    <%= image_tag 'umbrella.jpg', size: '900x600'  %>
  </div>
</div>
<div class="container">
  <div class="bg-about">
    <h4 class="text-center">
      Nihon Linkは、日本に滞在する外国人留学生のための情報共有サイトです。<br>
      日本での生活がスムーズに進むよう、<br>
      役立つ情報や留学生同士の交流の場を提供しています。<br>
      <br>
      「暮らす」「働く」「助け合う」<br>
      日本での留学生活を支える、<br>
      あなたのためのコミュニティです。
    </h4>
  </div>
  <div class="bg-about mt-5">
    <h4 class="text-center">
      Nihon Link is an information-sharing platform for international students in Japan.<br>
      We provide useful resources and a space for students to connect,<br>
      helping make life in Japan easier and more enjoyable.<br>
      <br>
      "Live, Work, Support"<br>
      A community that helps you navigate student life in Japan.
    </h4>
  </div>
</div>