<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><span class="text-red">D</span>iscover, <span class="text-red">L</span>earn, and <span class="text-red">C</span>onnect in <span class="text-red">Japan</span></h2><br>
      <h6>日本での学びとつながりをもっと身近に</h6>
    </div>
  </div>

  <h4 class="text-center mt-5">
    Nihon Link is an information-sharing platform for international students in Japan.<br>
    <br>
    We provide useful resources and a space for students to connect,<br>
    helping make life in Japan easier and more enjoyable.<br>
    <br>
    "Live, Work, Support"<br>
    A community that helps you navigate student life in Japan.
  </h4>

  <h4 class="text-center my-5 pt-5">
    Nihon Linkは、日本に滞在する外国人留学生のための情報共有サイトです。<br>
    <br>
    日本での生活がスムーズに進むよう、<br>
    役立つ情報や留学生同士の交流の場を提供しています。<br>
    <br>
   「暮らす」「働く」「助け合う」<br>
    日本での留学生活を支える、<br>
    あなたのためのコミュニティです。
  </h4>
  
  <div class="row">
    <%= image_tag 'sakura.jpg', class: "img-fluid w-100", style: "height: 400px; object-fit: cover; object-position: center;"  %>
  </div>
</div>