<div class="container">
  <div class="bg-image" style="background-image: url('<%= asset_path('shinto-shrine-gates.jpg') %>'); background-size: cover; background-position: center; height: 500px;  display: flex; justify-content: center; align-items: center;">
    <div class="row">
      <div class="col bg-dark" style="opacity: 0.8;">
        <h1 class=" text-white text-center">Nihon Link</h1>
        <h5 class=" text-white text-center">留学生向け日本コミュニティサイト</h5>
      </div>
    </div>
  </div>
</div>