<div class="container">
  <div class="row mx-auto">
    <h2 class="text-user mb-4">グループ一覧</h2>

    <div class="table-responsive">
      <table class="table">
        <%= render "public/groups/list", groups: @groups %> 
      </table>
    </div>
    <div class="col">
      <%= paginate @groups, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>