<div class="container">
  <div class="row mx-auto">
    <h2 class="text-user mb-4">グループ一覧</h2>

    <div class="table-responsive">
      <%= render "public/groups/list", groups: @groups %> 
    </div>
    <div class="col">
      <%= paginate @groups, theme: 'twitter-bootstrap-4' %>
    </div>
  </div>
</div>