* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

header {
  background-color: #b7282e;
}

.btn-h {
  background-color: #b7282e;
  color: #fbfaf5;
}

.btn-h:hover {
  background-color: #fbfaf5;
  color: #b7282e;
}

body{
  background-color: #fbfaf5;
}

footer {
  background-color: #b7282e;
  position: absolute;
  width: 100%;
  bottom: 0;
}

.bg-about {
  border: dashed 2px #f19072;
}

.wrap {
  min-height: 100vh;
  position: relative;
  padding-bottom: 60px;
  box-sizing: border-box;
}

.text-user {
  background: linear-gradient(transparent 50%, #f6bfbc 50%);
  padding: 0 0.1em;
}

.btn-user {
  color: #fff;
  background: #b7282e;
  border-radius: 100vh;
  width: 20em;
}

.btn-user:hover {
  background-color: #cd353d;
  color: #fff;
}

.link-user {
  color: #b94047;
}

.link-user:hover {
  color: #b7282e;
}

.my-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 700px;
}

.my-table th, .my-table td {
  border: 2px solid #fff;
  background-color: #ffcecc;
  padding: 1em;
  font-weight: bold;
}

.my-table th {
  background-color: #ca676c;
  color: #fff;
  text-align: center;
  width: 20%;
  min-width: 3em;
}

.my-table td {
  min-width: 10em;
}

.my-btn {
  min-width: 130px;
  max-width: 200px;
  width: auto;
  text-align: center;
}

.btn-custom {
  width: 10em;
}

.form-post {
  min-width: 15em;
}

.form-b {
  min-height: 10em;
}

.table-g {
  background-color: #cb565b;
}

.table-u {
  min-height: 20em;
}

.img-about {
  max-width: 100%;
	height: auto;
}

.btn-search {
  border: 2px solid #fbfaf5;
  background-color: #b7282e;
}

.search {
  color: #fbfaf5;
}

.tab-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.tab {
  padding: 10px;
  cursor: pointer;
  border-bottom: none;
  min-width: 120px;
  text-align: center;
}

.tab-active {
  color: #FFF;
  background: #b94047;
  transition: all 0.2s ease-in-out;
}

.tabbox {
  display: none;
  padding: 15px;
}

.box-show {
  display: block;
}

.tab:hover{
  box-shadow: 0 4px 7px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
}

@media (max-width: 768px) {
  .button-group {
    flex-direction: column;
    margin-top: 15px;
  }

  .button-group .btn {
    width: 100%;
    margin-bottom: 5px;
  }

  .text-title {
    display: block;
    width: 100%;
    text-align: center;
  }
}